.imgCard {
    max-width: 250px;
    height: 300px;
    background-color: powderblue;
    margin-left: auto;
  margin-right: auto;
  display: block;
  }
  
  .card {
    background: #fff;
    max-width: 300px;
    position: relative;
    z-index: 15;
    margin:0 auto;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  }
  .btnCard{
    width: 100%;

}

#btnCard{
padding: 8px;
font-size: 20px;
}
.cardBody{
  margin-left: 10px;
  font-family: 'Farsan', cursive;
  color: rgb(19, 5, 86);
  font-size: large;

}
#titleCard{
  font-family: 'Farsan', cursive;
color: rgb(19, 5, 86);
}
#ratingCount{
  color: gold;
}
#priceCard{
  text-align: center;
}