.signUpBox{
margin-left: 20%;
max-width: 50%;

}

@media screen and (min-width:900px) {

    .signUpBox{
        margin-left: 40%;
        max-width: 50%;
        
        }
       
}
.signUpHead{
   text-align: center;
}
.password{
    margin-left: 28px;
}
.btnSignUp{
    object-fit: fill;
    width: 450px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    background-color: rgb(51, 63, 234);
    margin: 20px;
    margin-top: 5%;
}
.btnSignUp:hover{
    background-color: rgb(33, 182, 223);
    color: black;
}
.btnSignUpIn{
    color: black;
    text-align: left;
    margin-left: 30px;
}

#nameLabel, #emailLabel, #emailCLabel{
    margin-left: 28px;
    margin-bottom: -20px
}


